@font-face {
  font-family: 'Inter';
  src: url('_stock_management/assets/fonts/Inter-Regular.ttf') format('truetype'); 
  font-style: normal;
}



body {
  font-family: 'Inter', sans-serif !important;
  background-color: #f9fafb !important; // Removed extra semicolon
}